HTML{
    margin: 0;
    padding: 0;
    background-color: #fdecb4;
    font-family: Arial, Helvetica, sans-serif;
}

.title{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

h1{
    text-align: center;
    color: #ea776a;
}

h3{
    text-align: center;
    font-size:x-large;
    color: #ea776a;
}

h4{
    text-align: center;
    font-size: x-small;
    color: #ea776a;
}

header{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
}

.navlinks{
    text-align: center;
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 0;
}

.navlink a{
    color: #ea776a;
    text-decoration: none;
    font-size: large;
}

.navlink a:hover{
    text-decoration:underline;
    color: #f9cc6e;
}

.section{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

.tutorials{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0;
}

.tutorial{
    width: 450px;
    padding: 10px;
    list-style: none;
    display: flex;
    flex: 100px;
    flex-direction: column;
    background-color: #f9cc6e;
    align-items: center;
    justify-content: center;
}

.tutorial a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #f9cc6e; 
    display: inline-block;
    border: none;
    margin: 2px;
    padding: 10px 5px;
    background-color: #ea776a;
    text-align: center;
    flex: 0;
}

p a{
    text-decoration: none;
    color: #ea776a;
}

.tutorial:hover{
    background-color: #fbe472;

}

.vertical_menu {
    width: 200px;
    display: inline-block;
    vertical-align: middle;
}

.vertical_menu a {
    background-color:  #f9cc6e;
    color: #ea776a;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical_menu a:hover {
    background-color: #ea776a;
    color:  #f9cc6e;
}

.vertical_menu a.active {
    background-color: #ea776a;
    color:  #f9cc6e;
}

