html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.title{
    list-style-type: none;
    display: flex;
}

.links{
    list-style-type: none;
    display: flex;
}

.link{
    margin: 15px;
}

.button{
    text-decoration: none;
    color: black;
}

.button:hover{
    text-decoration:underline;
}

p{
    
}