*{
    background-color: #f5f6fa;
    font-family: Arial, Helvetica, sans-serif;
}

.nav{
    display: flex;
}

.nav-icon{
    
}

.nav-icon-img{
    width: 25px;
    height: 25px;
}

.nav-icon-img:hover{
    background-color: #22273b;
    color: white;
}

.section-boxes{
    margin: 20px;
    display: flex;
}

.section-image{
    margin: 10px;
    width: 300px;
    
    background-color: white;
    border-radius: 5%;
    box-shadow: 20px 20px 20px black;
}

.section-image .icon img{
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    position: relative;
    left: 20px;
    top: 10px;
}

.section-image .icon .fa-brands-fa-gratipay{
    width: 20px;
    height: 20px;
    position: relative;
    left: 20px;
}

.section-image .icon .fa-brands-fa-gratipay:hover{
    background-color: white;
}

.section-image .title{
    text-align: center;
    position: relative;
}

.section-image p{
    text-align: center;
}

.section-image .text{
    color: lightgray;
}

.footer-box{
    display: flex;
}

.footer-box .box{
    display: flex;
    border-radius: 5%;
    justify-content: center;
}

.footer .footer-box{
    margin: 20px;
    background-color: white;
    width: 400px;
    box-shadow: 20px 20px 20px black;
    border-radius: 5%;
}

.footer .footer-box .image{
    border-radius: 5%;
    margin: 20px;
    width: 100px;
    height: 100px;
    position: relative;
    top: 10px;
    
}

.footer .footer-box h2{
    text-align: center;
    position: relative;
     
}

.footer .footer-box p{
    margin: 10px;
    text-align: center;
}

.footer .text{
    color: lightgray;
}

.footer .footer-box .image-button{
    margin: 10px;
    padding: 10px;
    border-radius: 5%;
    text-decoration: none;
}

.fa-solid .footer-box .image-button .fa-square-caret-right{
    width: 25px;
    height: 25px;
}

