*{
    background-color: #f5f6fa;
    font-family: Arial, Helvetica, sans-serif;
}

.nav{
    display: flex;
}

.nav-icon{
    
}

.nav-icon-img{
    width: 25px;
    height: 25px;
}

.nav-icon-img:hover{
    background-color: #22273b;
    color: white;
}

.section-images{
    margin: 20px;
    display: flex;
}

.section-image{
    margin: 10px;
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 5%;
    box-shadow: 20px, 20px, 20px, black;
}

.section-image .image{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.section-image h2{
    text-align: center;
    background-color: white;
    border-radius: 5%;
    box-shadow: 20px, 20px, 20px, black;
}

.section-image p{
    text-align: center;
    background-color: white;
    border-radius: 5%;
    box-shadow: 20px, 20px, 20px, black;
}

.footer{
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 5%;
    box-shadow: 20px, 20px, 20px, black;
}

.footer-image{
    background-color: white;
    border-radius: 5%;
    box-shadow: 20px, 20px, 20px, black;
}

.footer .footer-image{
    display: flex;
}

.footer .footer-image h2{
    text-align: center;
    background-color: white;
    border-radius: 5%;
    box-shadow: 20px, 20px, 20px, black;
}

.footer .footer-image p{
    text-align: center;
    background-color: white;
    border-radius: 5%;
    box-shadow: 20px, 20px, 20px, black;
}

.footer-image-button{
    text-decoration: none;
}

.footer-image-button:hover{
    background-color: white;
    border-radius: 5%;
    box-shadow: 20px, 20px, 20px, black;
}
