*{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

html{
    background-color: rgb(235, 232, 249);
}

.container{
    flex: 1;
    display: flex;
}

.sidebar{
    flex: 1;
    width: 300px;
    margin: 5px;
    border: 1px solid lightgray;
    background-color: white;
}

.chat{
    flex: 1;
    margin: 5px;
    border: 1px solid lightgray;
    background-color: white;
}

.chat-users{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.users{
    flex: 1;
    margin: 5px;
    display: flex;
    border-bottom: 1px solid lightgray;
}

.chat-user-messenger{
    flex: 1;
    display: flex;
}

.user{
    display: flex;
    margin: 5px;
}   

.title{
    font-weight: normal;
    margin: 5px;
}


.chat-user-message{
    margin: 10px;
}

.user-message-text .message-text{
    color: lightgray;
}

.time{
    color: lightgray;
}

.message-text{
    flex: 1;
    color: black;
    width: 80%;
}

.messages{
    flex: 1;
    margin-top: 20px;
    width: 90%;
    height: 70vh;
    background-color: rgb(235, 232, 249);
    border-radius: 10px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.chat-message .message{
    margin: 10px;
}

input{
    flex: 1;
    width: 95%;
    border-radius: 20px;
    border: 1px solid lightgray;
    padding-left: 20px;
    font-size: 16px;
    color: gray;
}

.link{
    position: relative;
    bottom: 22px;
    left: 340px;
    color: gray;
}

.link:hover{
    color:blue;
    cursor: pointer;
}

