*{
    box-sizing: border-box;
}

html{
    background-color: #d9d9d9;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-links{
    padding: 5px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex: 1;
}

.nav-link{
    margin: 5px;
    background-color: #dddddd;
    text-align: center;
    justify-content: center;
    box-shadow: 1px 1px 5px black;
    flex: 1;
}

.nav-link a{
    width: 100%;
    padding: 20px;
    font-size: 30px;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.nav-link a:hover{
    color: white;
    background-color: #667;
}

.section-title{
    display: flex;
}

.section-titles-banners{
    margin: 20px;
    padding: 20px;
    background-image: url(./img/download.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 1px 5px black;
    flex: 2;
}


.section-title-banner h1{
    font-size: 90px;
    color: white;
}

.section-title-banner p{
    font-size: 30px;
    color: white;
    
}

.section-title-banner a{
    padding: 0.6rem 1.3rem;
    width: 100px;
    height: 200px;
    background-color: #333;
    text-decoration: #f2f2f2;
    border: solid, 2px, #333;
    color: #f2f2f2;
    font-size: 30px;
    box-shadow: 1px 1px 5px black;
}

.section-title-banner a.hover{
    color: white;
    background-color: #333;
}

.section-prices{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.section-price{
    margin: 8px;
    padding: 8px;
    height: 300px;
    background-color: #dddddd;
    justify-content: space-evenly;
    display: flex;
    box-shadow: 1px 1px 5px black;
    flex-direction: column;
}

.section-price .text{
    text-align: center;
    font-size: 25px;
    margin: 0;
}

.section-price .text b{
    font-size: 60px;
}

.section-price .text a{
    padding: 10px;
    text-decoration: none;
    background-color: #333;
    color: white;
    box-shadow: 1px 1px 5px black;
}

.section-price .text a.hover{
    background-color: #667;
}

.section-boxes{
    display: flex;
}

.box{
    margin: 10px;
    padding: 10px;
    width: 300px;
    height: 350px;
    box-shadow: 1px 1px 5px black;
    background-color: #dddddd;
    flex: 1;
}

.box p{
    text-align: center;
}

.box img{
    margin: 10px;
    width: 100px;
    height: 100px;
    
}

.box h2{
    text-align: center;
    font-size: 30px;
}

.box p{
    text-align: center;
    font-size: 18px;
}

.section-info{
    margin: 10px;
    width: 1220px;
    height: 400px;
    display: flex;
    background-color: #dddddd;
    box-shadow: 1px 1px 5px black;
}

.info-box{
    display: flex;
}

.img-info{
    margin: 50px;
    height: 300px;
}

.sections-text{
    margin: 10px;
    justify-content: space-evenly;
}

.section-text h2{
    font-size: 40px;
}

.section-text p{
    font-size: 25px;
}

.section-text a{
    padding: 0.6rem 1.3rem;
    width: 100px;
    height: 200px;
    background-color: #333;
    text-decoration: #f2f2f2;
    border: solid, 2px, #333;
    color: #f2f2f2;
    font-size: 40px;
    box-shadow: 1px 1px 5px black;
}



