*{
    box-sizing: border-box;
}

html{
    background-color: #d9d9d9;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-links{
    padding: 5px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex: 1;
}

.nav-link{
    margin: 5px;
    background-color: #dddddd;
    text-align: center;
    justify-content: center;
    box-shadow: 1px 1px 5px black;
    flex: 1;
}

.nav-link a{
    width: 100%;
    padding: 20px;
    font-size: 30px;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.nav-link a:hover{
    color: white;
    background-color: #333;
}

.section-title{
    display: flex;
}

.section-titles-banners{
    margin: 10px;
    padding: 10px;
    background-image: url(./img/download.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
}


.section-title-banner h1{
    font-size: 90px;
    color: white;
}

.section-title-banner p{
    font-size: 30px;
    color: white;
    
}

.section-title-banner a{
    padding: 2px;
    width: 200px;
    height: 100px;
    background-color: #333;
    text-decoration: #f2f2f2;
    border: solid, 2px, black;
    color: #f2f2f2;
    font-size: 30px;
}

.section-title-banner a.hover{
    color: white;
    background-color: #333;
}

.section-prices{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.section-price{
    margin: 8px;
    padding: 8px;
    height: 300px;
    background-color: #dddddd;
    justify-content: space-around;
    display: flex;
    box-shadow: 1px 1px 5px black;
    flex-direction: column;
}

.section-price .text{
    text-align: center;
    font-size: 20px;
    margin: 0;
    font-size: 50px;
}

.section-price .text b{
    font-size: 70px;
}

.section-price .text a{
    padding: 10px;
    text-decoration: none;
    background-color: #333;
    color: white;
}

.section-price .text a.hover{
    background-color: #667;
}


