html{
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-container{
    background-color: #222222;
    display: flex;
    justify-content: space-between;
}

.main-navbar{
    display: flex;
}

.main-navbar-logo{
    margin: 10px;
}

.icons{
    display: flex;
}

.icon{
    list-style: none;
    margin: 5px;
}

.item{
    width: 50px;
    height: 50px;
}

.profile{
    width: 50px;
    height: 50px;
    display: flex;
}

.sign{
    color: #999999;
    text-decoration: none;
}

.account{
    margin: 5px;
}

.quiche-access{
    display: flex;
    margin: 5px;
}

.upload{
    display: flex;
    color: #999999;
}

.anchor-arrow{
    color: #999999;
    text-decoration: none;
}

.search{
    display: flex;
}

.second-navbar{
    background-color: #333333;
    display: flex;
}

.links{
    color: #999999;
    display: flex;
}

.anchor-link-text{
    color: #999999;
    text-decoration: none;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
}



