html{
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */

.navbar-container{
    background-color: #222222;
    display: flex;
    justify-content: space-between;
}

.main-navbar{
    display: flex;
}

.main-navbar-logo{
    margin: 10px;
}

.icons{
    display: flex;
}

.icon{
    list-style: none;
    margin: 5px;
}

.icon:hover{
    color:white;
}

.item{
    width: 50px;
    height: 50px;
}

.profile{
    width: 40px;
    height: 40px;
    display: flex;
}

.anchore-sign{
    color: #999999;
    text-decoration: none;
    margin: 5px;
}

.anchore-sign:hover{
    color:white;
}

.account{
    margin: 0px;
}

.quiche-access{
    display: flex;
    margin: 5px;
}

.upload{
    display: flex;
    color: #999999;
}

.search{
    width: 120px;
    height: 20px;
}

.anchor-arrow{
    color: #999999;
    text-decoration: none;
}

.anchor-arrow:hover{
    color: white;
}

.second-navbar{
    background-color: #333333;
    display: flex;
}

.links{
    color: #999999;
    display: flex;
}

.link{
    list-style-type: none;
}

.anchor-link-text{
    color: #999999;
    text-decoration: none;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
}

.anchor-link-text:hover{
    color:white;
}

/* Main-Section */

.main-section-logo{
    display: flex;
    margin: 100px;
}

.title{
    margin: 20px;
}

.donate-button{
    width: 200px;
    height: 100px;
    background-color: #42BCD7;
    color: white;
    text-decoration: none;
    position: relative;
    top: 30px;
}

.weayback-maschine-logo{
    position: relative;
    bottom: 70px;
}

.donate-button:hover{
    background-color: #64C1D5;
}

.anchor-text{
    color:#7D92C9;
    text-decoration: none;
}

.anchor-text:hover{
    color:#C69FFE;
    text-decoration: underline;
}

/* Section-Conainer */

.container-information-tool{
    list-style-type: none;
}

.containers{
    display: flex;
}

.container{
    margin: 20px;
    padding: 20px;
}

.tutorial{
    color:black
}

.tools{
    color:#7D92C9;
    text-decoration: none;
}

.tools:hover{
    color:#C69FFE;
    text-decoration: underline;
}

.tool{
    color:#7D92C9;
    text-decoration: none;
}

.tool:hover{
    color:#C69FFE;
    text-decoration: underline;
}

.web-save-url-input{
    border-radius: 5%;
}

.search-botton{
    width: 100px;
    height: 25px;
    background-color:#EBEBEB;
    margin: 5px;
    text-decoration: none;
    color:black;
}

.search-botton:hover{
    background-color: #CDCDCD;
    margin: 5px;
}

/* Footer */

.footer{
    margin: 20px;
}

.span{
    justify-content: center;
}

.footer-conatiner-span-list{
    margin: 20px;
    text-align: center;
}

.footer-link{
    color:#7D92C9;
    text-decoration: none;
}

.footer-link:hover{
    color:#C69FFE;
    text-decoration: underline;
}