*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #171615;
    color: white;
}

  
.header {
    display: flex;
    max-width: 200;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0px;
}

.header .link .img{
    background-color: bisque;
}

.logo a{
    background-color: rgba(38, 36, 35, .9);
}

.logo{
    background-image: url("/img/minecraft_1.svg");
}

.navlinks{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.navlink button{
    width: 100px;
    height: 50px;
    background-color: rgba(38, 36, 35, .9);
    border: none;
    margin: 20px;
}

span{
    width: 100px;
    height: 50px;
    background-color: transparent;
    justify-content: space-between;
}

.navlink a{
    margin: 20px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.navlink button span:hover{
    color: green;   
}

.section-announcement{
    margin: 100px;
    justify-content: center;
    width: 100%;
    height: 1200px;
    
}

.box{
    Width: 200px;
    height: 200px;
    margin: 20px;
    margin-left: 100px;
    position: relative;
    bottom: 50px;
    left: 20px;
}

.box .images{
    list-style: none;
    display: flex;
    position: relative;
    left: 250px;
    bottom: 110px;
}

.box .images .image:hover{
    border: solid, 5px, green;
}

.section-announcement-box{
    width: 100%;
    height: 100%;
    justify-content: center;
}

.announcement{
    width: 1000vw;
    height: 900px;
    background-image: url("img/Homepage_Hero-A-0_Fall-Game-Drop_1080x1080.avif");
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 100px;
    justify-content: center;
}

.section-games{
    justify-content: center;
    flex: 1;

}

.games-boxes{
    display: flex;
}

.game-image{
    justify-content: center;
}

.game-image .poster{
    justify-content: center;
    margin: 20px;
}

.section-games h1{
    margin: 40px;
    text-align: center;
}

.game-details{
    margin: 10px;
    justify-content: center;
}

.game-details h2{
    text-decoration: none;
}

.game-details p{
    text-decoration: none;
    border-bottom: 4px, solid, darkgray;
}

.game-icons{
    display: flex;
    margin: 10px;
}

.game-icon{
    list-style: none;
}