*{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    background-color: rgba(38, 36, 35, .9);
    color: white;
}

@font-face{
    font-family: 'Pixelify Sans';
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/pixelifysans/v1/CHylV-3HFUT7aC4iv1TxGDR9JnkEi1lR.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

body{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0px;
}

.header .link .img{
    background-color: bisque;
}

.logo a{
    background-color: rgba(38, 36, 35, .9);
}

.logo{ 
    justify-content: center;
}

.navlinks{
    list-style: none;
    display: flex;
    justify-content: space-around;   
}

.navlink button{
    font-family: 'Pixelify Sans';
    width: 100px;
    height: 50px;
    background-color: rgba(38, 36, 35, .9);
    border: none;
    margin: 10px;
}

span{
    font-family: 'Pixelify Sans';
    width: 100px;
    height: 50px;
    background-color: transparent;
    justify-content: space-between;
}


.navlink a{
    margin: 20px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.navlink button span:hover{
    color: green;   
}

.section-announcement{
    width: 100%;
    margin: 100px;
    justify-content: center;
    height: 1200px;
}

.box{
    Width: 350px;
    height: 350px;
    margin: 25px;
    margin-left: 100px;
    bottom: 70px;
    right: 50px;
    position: relative;
}

.box h1{
    font-family: 'Pixelify Sans';
    font-size: 22px;

}

.box .images{
    list-style: none;
    display: flex;
    position: relative;
    left: 400px;
    bottom: 110px;
}

.box .images .image:hover{
    border: solid, 5px, green;
}

.section-announcement-box{
    margin: 100px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.section-announcement-box button{
    width: 150px;
    height: 50px;
    background-color: green;
    
}

.announcement{
    width: 1000vw;
    height: 900px;
    background-image: url("img/Homepage_Hero-A-0_Fall-Game-Drop_1080x1080.avif");
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 100px;
    justify-content: center;
}

.section-games{
    justify-content: center;
    flex: 1;
}

.games-boxes{
    display: flex;
}

.game-box img{
    justify-content: center;
}

.game-image{
    justify-content: center;
}

.game-image .poster{
    justify-content: center;
    margin: 20px;
}

.section-games h1{
    font-family: 'Pixelify Sans';
    font-size: 50px;
    margin: 40px;
    text-align: center;
}

.game-details{
    margin: 10px;
    justify-content: center;
}

.game-details h2{
    text-decoration: none;
}

.game-details p{
    text-decoration: none;
    border-bottom: 4px, solid, darkgray;
}

.game-icons{
    display: flex;
    margin: 10px;
}

.game-icon{
    list-style: none;
}

.gameplay-trialer h1{
    font-family: 'Pixelify Sans';
    font-size: 50px;
    margin: 40px;
    text-align: center;
} 

.game-trailer-lists{
    width: 100px;
    height: 100px;
}

.game-trailer-lists button{
    width: 100px;
    height: 100px;
}

.section-news{
    background-color: #262423;
}

.section-news h2{
    text-align: center;
    font-size: 100%;

}

.section-news a{
    text-align: center;
    text-decoration: none;
    color: green;
    
}

.news-news{
    width: 1000px;
    height: 1000px;

}

.news{
    display: flex;
    list-style: none;
}

.new-box{
    margin: 10px;

}
