*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

html{
    background-color: #111;
    color: white;
    overflow-x: hidden;
}

@font-face{
    font-family: "Noto Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/pixelifysans/v1/CHylV-3HFUT7aC4iv1TxGDR9JnkEi1lR.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

body{
    margin: 0;
    padding: 0;
}

a{
    color: white;
}

.container{
    max-width: 1920px;
    margin: 0 auto;
}

.header{                
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    background-color: rgba(38,36,35,.9);
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .link .img{
    background-color: bisque;
}

.logo{ 
    justify-content: center;
}

.navlinks{
    list-style: none;
    display: flex;
    justify-content: space-around;   
}

.navlink button{
    font-family: 'Pixelify Sans';
    width: 100px;
    height: 50px;
    background-color: rgba(38, 36, 35, .9);
    border: none;
    margin: 10px;
}

span{
    font-family: 'Pixelify Sans';
    width: 100px;
    height: 50px;
    background-color: transparent;
    justify-content: space-between;
}


.navlink a{
    margin: 20px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.navlink a span:hover{
    color: #52A535;  
}

.section-announcement{
    margin-top: 100px;
    width: 100%;
    justify-content: center;
}

.announcement-image{
    width: 100%;
    height: 900px;
    background-image: url("img/Homepage_Hero-A-1920_Fall-Game-Drop_2560x932.avif");
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
}

.announcement-box{
    display: flex;
}

.announcement-box-main{
    padding: 20px;
    flex: 1;
}

.announcement-box p{
    font-size: 1.2em;
    margin-bottom: 10px;
} 

.announcement-box h1{
    font-family: 'Pixelify Sans';
    font-size: 2em;
    text-decoration: none;
}

.announcement-box .play-button, 
.announcement-box .get-button{
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
}

.announcement-box .play-button{
    background-color: #3C8527;
    border-top: 5px solid #52A535;
    border-bottom: 5px solid #2A641C;
    border-left: 0;
    border-right: 0;
}


.announcement-box-images{
    flex: 2;
    list-style: none;
    display: flex;
    justify-content: space-between;
}


.announcement-box .image:hover img{
    border: solid 5px #52A535;
}

.announcement-box .image a{
    display: block;
}


.section-games{
    justify-content: center;
    flex: 1;
}

.games-boxes{
    display: flex;
    justify-content: center;
}

.game-box img{
    justify-content: center;
}

.game-image{
    justify-content: center;
}

.game-image .poster{
    justify-content: center;
    margin: 20px;
}

.section-games h1{
    font-family: 'Pixelify Sans';
    font-size: 50px;
    margin: 40px;
    text-align: center;
    text-decoration: none;
}

.game-details{
    margin: 10px;
    justify-content: center;
    text-decoration: none;
}

.game-details h2{
    text-decoration: none;
}

.game-details p{
    text-decoration: none;
    border-bottom: 4px, solid,
}

.game-icons{
    border-top: 2px solid darkgray;
    display: flex;
    margin: 10px;
}

.game-icon{
    list-style: none;
}

.game-icon i{
    font-size: 30px;
}

.gameplay-trialer h1{
    font-family: 'Pixelify Sans';
    font-size: 50px;
    margin: 40px;
    text-align: center;
} 

.game-trailer-lists{
    width: 100px;
    height: 100px;
}

.game-trailer-lists button{
    width: 100px;
    height: 100px;
}

.section-news{
    background-color: #262423;
}

.section-news h2{
    text-align: center;
    font-size: 100%;

}

.section-news a{
    text-align: center;
    text-decoration: none;
    color: green;
    
}

.news-news{

}

.news{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.new-box{
    margin: 10px;
}

.new-box a{
    display: block;
}
